body {
	background: #C0C0C0;
	font-family: Tahoma;
	overflow-y: scroll;
}

/* ie focusing elements */
input:focus, textarea:focus {
	outline: none;
}

#container {
	background: white;
	padding: 70px 50px 11px 50px;
	margin: 0px 5px 5px 5px;
}

#info  {
	border: 1px solid black;
	bottom: 0px;
	z-index: 1000;
}

.hidden  {
	display: none;
}

#page_container {
	display: table;
}

#tree_content {
	height: 450px;
	width: 450px;
	border: 1px solid black;
	margin: 0px 5px 0px 0px;
	float: left;
}

#page_content  {
	border: 1px solid black;
	height: 440px;
	width: 450px;
	padding: 5px 15px 5px 15px;
	float: right;
}


#settings {
	width: 700px;
	display: table-row;
}
#settings > form {
	display: table-cell;
}
#settings > #save {
	vertical-align: top;
	display: table-cell;
	padding: 0px 0px 0px 50px;
}
#settings > #save > button{
	font-size: 1.4em;
	padding: 20px 40px 20px 40px;
}
#settings > form > div > table td{
	padding: 3px 7px 2px 3px;
}
#settings > form input {
	margin-bottom: 0px;
}
#settings > form > div > label > span {
	margin-left: 15px;
	display: block;
}
#settings > form > div.control-group{
	display: table;
}
#settings > form > div.control-group > input, #settings > form > div.control-group > label {
	display: table-cell;
	vertical-align: middle;
}
#settings > form > div.control-group > label {
	padding-left: 15px;
}
#settings label.checkbox input[type="checkbox"] {
	margin-left: -10px;
}


