body {
	background: #C0C0C0;
	font-family: Tahoma;
}

#container {
	background: white;
	padding: 20px;
}

#tree_content {
	height: 450px;
	width: 450px;
	border: 1px solid black;
	float: left;
	margin: 0px 50px 0px 30px;
}

#info  {
	border: 1px solid black;
	bottom: 0px;
	z-index: 1000;
}
.hidden  {
	display: none;
}